
body {
    background-color: ;
}
.keyborad-container {
    display: flex;
    border: ;
}
.keyborad-row {
    flex: 1;
}
.keyborad-row-2 {
    flex: 2;
}

.no-row {
    flex: 1;
}
.center {
    text-align: center;
}
.grey-bottons {
    border-radius: 50%;
    background-color: gray;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 8px 8px;
    cursor: pointer;
}
.zero-bottons {
    background-color: gray;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 2px px;
    cursor: pointer;
    border-radius: 25% 25% 25% 25%;
}
@media (min-width: 728px) {
    .calculator {
        width: 30vw;
        margin: 64px auto;
    }
}
