
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border-radius: 0;
    user-select: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #4E3D97;
}
.calculator {
    width: 80vw;
    margin: 32px auto;
    background-color: #E5D9F2;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
}
.main {
    width: 75vw !important;
    margin: 8px auto !important;
}
.result {
    height: 60px;
    width: 180px;
    background-color: #ecd7f3;
    border-radius: 4px;
}
#display {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;
    text-align: right;
    padding: 0 16px;
}
.buttons {
    font-family: 'Baloo Chettan 2', cursive;
}
.btn{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 4px;
    color: #E5D9F2;
    background-color: #4E3D97;
    border-radius: 0;
    cursor: pointer;
}

@media (min-width: 728px) {
   
}
@media (max-width: 376px) {
    
}
